<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/task
                http://www.springframework.org/schema/task/spring-task-4.0.xsd
				http://www.springframework.org/schema/mvc
                http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>
    <!-- 任务扫描 -->
    <task:annotation-driven/>

    <context:component-scan base-package="com.nature.controller,com.nature.component"/>
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.nature.converter.TrimStringConvert"></bean>
                <bean class="com.nature.converter.StringToDateConvert"></bean>
                <bean class="com.nature.converter.StringToBooleanConvert"></bean>
            </set>
        </property>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService">
        <mvc:message-converters register-defaults="false">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="serializationInclusion" value="NON_NULL"/>
                    </bean>
                </property>
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>


    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/html/"/>
        <property name="configLocation" value="classpath:velocity.properties"/>
    </bean>
    <bean id="viewResolver" class="com.nature.resover.MultiViewResover">
        <property name="resolvers">
            <map>
                <entry key="jsp">
                    <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
                        <property name="viewClass"
                                  value="org.springframework.web.servlet.view.InternalResourceView"/>
                        <property name="prefix" value="/WEB-INF/html/"/>
                        <property name="suffix" value=".jsp"/>
                    </bean>
                </entry>
                <entry key="vm">
                    <bean class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
                        <property name="suffix" value=".vm"/>
                        <property name="contentType" value="text/html;charset=UTF-8"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>


    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSize" value="1073741824"/>
    </bean>

    <import resource="spring-interceptor.xml"/>


</beans>
